<html>

  <head>
    <meta charset="utf-8" />
    <title>Workshop 1</title>
    <style>
      body { font-family: Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol; display: grid; place-items: center; height: 100vh; margin: 0; }
      section { text-align: center; max-width: 600px; } 
      .rainbow{ 
        background: linear-gradient(90deg, indigo, violet);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
      }
    </style>
  </head>

  <body>

    {{{body}}}

  </body>

</html>