<section>

  <h1 class="rainbow">{{ message }}</h1>

  <img src="/public/images/cat.gif"></img>

  <h3>Repository <a href="https://github.com/luo-git/pre-course-assessment">https://github.com/luo-git/pre-course-assessment</a></h3>

</section>